
<div class="row">
  <div class="col s12">

    <form name="home.productForm"  ng-submit="!home.productForm.$pristine && home.productForm.$submitted && home.add_product()" accept-charset="utf-8">
      <input-field>
      <input id="add_grocery" type="text" data-ng-model="home.product.name" class="validate" required>
      <label for="add_grocery">Agregar Producto</label>
      <input-field>
    </form>

    <a data-ng-if="home.products.length" class="waves-effect waves-light btn right" data-ng-click="home.reset_list()">Reset list</a>
  </div>
</div>
<div class="row">
  <div class="col s12">

    <div data-ng-if="home.products.length">
      <ul data-collapsible="accordion">
        <li class="card-panel product-card" data-ng-class="{ 'light-green lighten-5': product.inCart}" watch ng-repeat="product in home.products | orderBy: 'inCart' track by $index">
          <span class="product-card name">{{product.name}}</span>
          <i data-ng-click="home.toggle_cart(product)" class="product-card icon fa fa-shopping-cart" data-ng-class="{ 'teal-text accent-3': product.inCart, 'grey-text': !product.inCart }"></i>
        </li>
      </ul>
    </div>

    <div data-ng-if="!home.products.length" class="empty-list">
      <p>No hay art&iacute;culos en tu lista.</p>
    </div>
  </div>
</div>
